@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jersey 10", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    border-top: 80px solid #916969;
    border-bottom: 80px solid #916969;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
    max-width: 500px;
    margin: 20px;
}

.container .Hello {
    color: #8D6666;
}

.container .img-toro {
    max-width: 200px;
    border-radius: 9px;
    box-shadow: 0.4rem 1rem 2rem hsl(0, 0%, 0%,0.3);
}

.container .game{
    font-size: 25px;
    color: #433434;
}

.container .ps {
    opacity: 20%;
}

.container .btn {
    display: flex;
    gap: 25px;
}

.btn a {
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    background: #916969;
    padding: 7px 20px;
    border-radius: 8px;
    box-shadow: 0.3rem 1rem 2rem hsl(0, 0%, 0%,0.2);
}

.container .title {
    margin-top: -25px;
}